dj-database-url==0.5.0
Django==2.2.24
django-heroku==0.3.1
gunicorn==19.9.0
pgcli==0.16.0
psycopg2-binary==2.8.5
pytz==2018.9
gunicorn==19.9.0
whitenoise==3.3.1
python3-xlib==0.15
pywhatkit==4.4
pyautogui==0.9.4
mouseinfo==0.1.2