dj-database-url==0.5.0
Django==2.2.24
django-heroku==0.3.1
gunicorn==19.9.0
pgcli==0.16.0
psycopg2-binary==2.8.5
pytz==2018.9
gunicorn==19.9.0
whitenoise==3.3.1
certifi==2019.3.9
Pillow==5.4.1
PyAutoGUI==0.9.42
PyGetWindow==0.0.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.20
python3-xlib==0.15
python-xlib==0.25
PyTweening==1.0.3
six==1.12.0
pywhatkit==4.4
mouseinfo==0.1.2